a {
    color: #e50000;
    text-decoration: none;
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 945px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
}

.izenburua {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.azalpena {
    width: 80%;
    text-align: center;
    margin: 15px auto 0px;
    color: #565656;
}

#grafikoak {
    text-align: center;
    position: absolute;
    top: 50px;
    width: 100%;
}

#grafikoak #biztanleria-grafikoa, #grafikoak #herriak-grafikoa {
    display: inline-block;
    width: 33%;
}

#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.unitatea {

}

.eskualde-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: #fff;
    stroke: #777;
    stroke-width: 2px;
    stroke-linejoin: round;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

.legenda {
    right: 10px;
    position: absolute;
    top: 415px;
    font-size: 24px;
}

.legenda .kolorea {
    display: inline-block;
    height: 15px;
    margin: 0px 5px 0px 15px;
    width: 15px;
}

.legenda .kolorea.erabakitzeke {
    border: 1px solid #ccc;
    height: 14px;
    width: 14px;
}

#kredituak {
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    left: 3px;
    position: absolute;
    top: 845px;
    width: 250px;
    text-align: center;
}

#kredituak #mapa-argia-logoa {
	width: 100px;
}

#kredituak #mapa-iametza-logoa {
	width: 100px;
    margin-left: 15px;
}
