a {
    color: #e50000;
    text-decoration: none;
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 580px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    border: 1px solid #000;
}

#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.unitatea {

}

.eskualde-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: #fff;
    stroke: #777;
    stroke-width: 2px;
    stroke-linejoin: round;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#kredituak {
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    left: 3px;
    position: absolute;
    top: 497px;
    width: 250px;
    text-align: center;
}

#kredituak #mapa-argia-logoa {
	width: 100px;
}

#kredituak #mapa-iametza-logoa {
	width: 100px;
    margin-left: 15px;
}
